@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Brak dostępu";
}

<h1 class="text-danger">Brak dostępu</h1>
<p>Nie masz uprawnień do wykonania tej operacji.</p>
<a asp-page="/Account/Login">Zaloguj się ponownie</a>